cyp-path {
	.item;

	.multiline {
		.flex-column;
		min-width: 0;

		.subtitle {
			.ellipsis;
			opacity: 0.8;
		}
	}
}

cyp-library .path-message {
	margin: 0;
	padding: 8px;
	text-align: center;
	white-space: normal;
	opacity: 0.8;
}
